@import "magnific-popup.css";
@import "reset.css";

//Variables
$brightblue: #4CA5FF;
$mainorange: #FFA64D;

$mainfont:'Varela Round', sans-serif;
// Mixins
@mixin round-corners {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
// Global Page Styles
* {
	color:white;
	font-family:$mainfont;
}
body {
	background: url('../img/icecliffscolorado.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-color:black;		
}
a {
	text-decoration:none;
	color:white;
	&:hover {
		color:$brightblue;
		text-decoration:none;
	}
}
h1 {font-size:4em;}
h2 {font-size:2.5em; line-height:120%;}
h3 {font-size:2em; font-weight:400;}
h4 {font-size:1.85px;}
h5 {font-size:1.50px;}
p {font-size:1.25em; line-height:120%;}
.small {font-size:1em; line-height:140%;}

li {
	list-style-type:none;
	display:inline-block;
	margin:0 10px;
	font-size:2em;
}
.social li {
	margin:0 5px;
}
.wrapper {
	width:980px;
	margin:0 auto;
	max-width:94%;
	padding:0 20px;
}
.footer {
	position:absolute;
	bottom:0;
}

// Reusable Styles

.hide {
	display:none;
}
.no-margin {
	margin:0px;
}
.lgt-margin {
	margin-top:10px;
}
.big-margin {
	margin-top:20px;
}
.blue-font {
	color:$brightblue;
}
.pull-left {
	float:left;
}
.pull-right {
	float:right;
}
.clear {
	clear:both;
}


/// General Page Styles
.navigation {
	margin:0 40px;
	@extend .pull-left;
}
.social {
	@extend .pull-left;
}
.github {
	background: url('../img/sprite.png') no-repeat -174px -40px;
	width: 32px;
	height: 32px;
	&:hover {
		background-position: -174px -3px;
	}
}
.twitter {
	background: url('../img/sprite.png') no-repeat -48px -46px;
	width: 32px;
	height: 26px;
	&:hover {
		background-position: -48px -9px;
	}
}
.linkedin {
	background: url('../img/sprite.png') no-repeat -132px -41px;
	width: 32px;
	height: 32px;
	&:hover {
		background-position: -132px -3px;
	}
}
.email {
	background: url('../img/sprite.png') no-repeat -4px -47px;
	width: 32px;
	height: 26px;
	&:hover {
		background-position: -4px -9px;
	}
}
.introtext {
	padding-top:200px;
}
.aboutme {
	width:50%;
	margin-top:40px;
}
.mephoto {
	margin:80px 0px 0px 40px;
	width:40%;
	border:2px white solid;
	@include round-corners;
}


@media (max-width:845px) {
	h3 {font-size:1.5em;}
	h2 {font-size:1.6em;}
	li {font-size:1.4em;}
	p, .small  {font-size:.9em;}
	.logo, .navigation, .social {
		width:100%;
		margin:0;
		padding-top:10px;
	}
	.logo h3, .navigation ul, .social ul, .introtext h2 {
		text-align:center;
	}
	.introtext {
		padding-top:100px;
	}
}

