@import "magnific-popup.css";
@import "reset.css";

//Variables
$brightblue: #4CA5FF;
$mainorange: #FFA64D;

$mainfont:'Varela Round', sans-serif;
// Mixins
@mixin round-corners {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
// Global Page Styles
* {
	color:white;
	font-family:$mainfont;
}
body {
	background: url('../img/icecliffscolorado.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-color:black;		
}
.navigation ul li a, .logo a {
	color: white;
	&:hover {
		color:$brightblue;
	}
}
a {
	text-decoration:none;
	color:$brightblue;
	&:hover {
		color:white;
		text-decoration:none;
	}
}

h1 {font-size:4em;}
h2 {font-size:2.5em; line-height:120%;}
h3 {font-size:2em; font-weight:400;}
h4 {font-size:1.85px;}
h5 {font-size:1.50px;}
p {font-size:1.25em; line-height:120%;}
.small {font-size:.8em; line-height:140%;}

li {
	list-style-type:none;
	display:inline-block;
	margin:0 10px;
	font-size:2em;
}
.social li {
	margin:0 5px;
}
.wrapper {
	width:980px;
	margin:0 auto;
	max-width:94%;
	padding:0 20px;
}
.footer {
	position:absolute;
	bottom:0;
	display:none;
}

// Reusable Styles

.hide {
	display:none;
}
.no-margin {
	margin:0px;
}
.lgt-margin {
	margin-top:10px;
}
.big-margin {
	margin-top:20px;
}
.blue-font {
	color:$brightblue;
}
.pull-left {
	float:left;
}
.pull-right {
	float:right;
}
.clear {
	clear:both;
}


/// General Page Styles
.navigation {
	margin:0 40px;
	@extend .pull-left;
}
.social {
	@extend .pull-left;
}
.github {
	background: url('../img/sprite.png') no-repeat -174px -40px;
	width: 32px;
	height: 32px;
	&:hover {
		background-position: -174px -3px;
	}
}
.twitter {
	background: url('../img/sprite.png') no-repeat -48px -46px;
	width: 32px;
	height: 26px;
	&:hover {
		background-position: -48px -9px;
	}
}
.linkedin {
	background: url('../img/sprite.png') no-repeat -132px -41px;
	width: 32px;
	height: 32px;
	&:hover {
		background-position: -132px -3px;
	}
}
.email {
	background: url('../img/sprite.png') no-repeat -4px -47px;
	width: 32px;
	height: 26px;
	&:hover {
		background-position: -4px -9px;
	}
}
.introtext {
	padding-top:200px;
}
.aboutme {
	width:50%;
	margin-top:40px;
}
.mephoto {
	margin:80px 0px 0px 40px;
	width:40%;
	border:2px white solid;
	@include round-corners;
}
.contact-page {
	margin-top:40px;
	width:100%;
}
.contact-form {
	h3 {
		&:before {
			content: " ";
			display:inline-block;
			background: url('../img/sprite.png') no-repeat -4px -47px;
			width: 32px;
			height: 26px;
			margin-right:10px;
		}
		&:after {
			content: " ";
			display:block;
			width:100%;
			border-bottom:1px solid white;
		}
	}
}
input, textarea {
	@include round-corners;
	color:black;
	font-size:1.2em;
	margin-top:2px;
	width:300px;
}
input {
	height:30px;
}
textarea {
	height:150px;
	resize:none;
}
.send {
	background-color:black;
	border:3px solid white;
	color:white;
	font-size:1em;
	height:40px;
	transition: background-color 0.5s ease;
	transition: color 0.5s ease;
	&:hover {
		background-color:$mainorange;
		color:black;
	}
}
.worktogether {
	margin-top:150px;
	margin-left:80px;
	h2:nth-child(2) {
		color:$mainorange;
	}
}
.work {
	margin-top:40px;
	width:50%;
}

.year-in-review, .timeline {
	width:97%;
	height:200px;
	@include round-corners;
	border: 1px solid white;
	margin-top:40px;
}
.year-in-review {
	background: url('../img/2013-yir.jpg');
	background-size:cover;
}

.timeline {
	background: url('../img/timeline.jpg');
	background-size:cover;
}
.time-converter, .portfolio {
	margin-top:40px;
}
.portfolio {
	margin-bottom:40px;
}


@media (max-width:845px) {
	h3 {font-size:1.5em;}
	h2 {font-size:1.6em;}
	li {font-size:1.4em;}
	p  {font-size:.9em;}
	.small {font-size:.7em;}
	.wrapper {
		padding:0;
	}
	.logo, .navigation, .social {
		width:100%;
		margin:0;
		padding-top:10px;
	}
	.logo h3, .navigation ul, .social ul, .introtext h2 {
		text-align:center;
	}
	.introtext {
		padding-top:100px;
	}
	.aboutme {
		width:100%;
	}
	.mephoto {
		margin:3% 20%;
		width:50%;
		&.pull-left {
			float:none;
		}
	}
	.contact-form {
		width:300px;
		margin:0 auto;
		&.pull-left {
			float:none;
		}
	}
	.worktogether {
		width:400px;
		margin:20px auto;
		padding-left:80px;
		&.pull-left {
			float:none;
		}
	}
	.year-in-review, .timeline {
		background-position: center center;
	}
}

@media (max-width:435px) {
	.worktogether {
		padding-left:40px;
	}
}

